#model{
	background-color: #000000;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform: scale(0);
	z-index: 1;
}
#model.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 3s cubic-bezier(0.164, 0.84, 0.44, 1) forwards;
}
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
.rcxm-row{
	display: flex;
}
.rcxm-row{
	display: flex;
}
#title{
	color: #FFFFFF;
}